<!DOCTYPE HTML>
<html>
  <head>
    <script>
      var source_use = "{{ source }}";
      var vaga_use = "{{ keyword }}";
      var cep_use = "{{ zipcode }}";
      var page_use = "{{ page }}";
      var orderby_use = "{{ order_by }}";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet"/>
    <script src="/static/js/main.js"></script>

  <meta charset="utf-8">
  <link href="{{ url_for('static', filename='css/resultado.css') }}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/trampo.js') }}"></script>
</head>
<body>
    <div class="modal fade" id="modal-social" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title caps"><strong><span id="tx_title">Analista Contábil Junior</span></strong></h4>
            </div>
            <div class="modal-body">
              <div id="via_ue" class="row" style="margin-top: -10px;">
                <div class="col-xs-12">
                  <p id="tx_details">Carrefour - Campinas, São Paulo - 01/02/2011</p>
                </div>
              </div>
              <div id="via_social" class="row">
                <div class="col-xs-12" style="border-bottom: solid 1px rgb(229, 228, 228);border-top: solid 1px rgb(229, 228, 228);padding-top: 10px;">
                  <div class="row">
                    <div class="col-xs-4">
                      <p><i class="fa-solid fa-briefcase"></i> <span id="tx_period"> Remoto</span></p>
                    </div>
                    <div class="col-xs-4">
                      <p><i class="fa-solid fa-hand-holding-dollar"></i> <span id="tx_salary"> A combinar</span></p>
                    </div>
                    <div class="col-xs-4">
                      <p><i class="fa-solid fa-file-contract"></i> <span id="tx_contract"> CLT</span></p>
                    </div>
                  </div>
                </div>
              </div>

              <div id="via_ue" class="row">
                <div class="col-xs-12" style="border-bottom: solid 1px rgb(229, 228, 228);padding-top: 13px;">
                  <h4><strong>Detalhes</strong></h4>
                  <ul id="ul_description">
                    <li>Boa vaga</li>
                    <li>Aprendizagem</li>
                  </ul>
                </div>
                <div class="col-xs-12" style="border-bottom: solid 1px rgb(229, 228, 228);padding-top: 13px;">
                  <h4><strong>Requerimentos</strong></h4>
                  <ul id="ul_requeriments">
                    <li>Boa pessoa</li>
                    <li>Sem palavrao</li>
                  </ul>
                </div>
                <div class="col-xs-12" style="border-bottom: solid 1px rgb(229, 228, 228);padding-top: 13px;">
                  <h4><strong>Benefícios</strong></h4>
                  <ul id="ul_benefits">
                    <li>Ganhar dinheiro</li>
                    <li>Sem escravidao</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div style="margin-top:10px;">
                    <a href="#" id="tx_url">Ir para a vaga</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="" id="main">
      <div class="headerSearch">
        <!--Topleft Logo-->
        <div class="logo">
          <a href="/">
            <img src="{{ url_for('static', filename='images/festisite_google.png') }}" />
          </a>
        </div>
        <!--Searchbar-->
        <div class="searchForm search-bar">
            <form>
              <input class="searchBar" name="tx_find" id="tx_find" type="text" value="{{ keyword }}" >
              <!-- <img class="search-bar-icons" src="http://ses.edu/wp-content/themes/ses/img/search-icon.svg" style="height: 20px; width: 20px;"> -->
              <input type="image" id="google_search" class="search-bar-icons" src="http://ses.edu/wp-content/themes/ses/img/search-icon.svg" />
              <!-- <input type="submit" value="Buscar Vagas" id="google_search"> -->
            </form>
        </div>
      </div>
      <!--Navigation tabs-->
      <div class="headerNav">             
        <ul>
          <li id="relevancia"><a href="#relevancia">Todos</a></li>
          <li id="recente"><a href="#recente">Novos</a></li>
          <!-- <li><a href="#">Ferramentas</a></li> -->
        </ul>
      </div>
      <!-- Preview Blurb box 
        https://codepen.io/brian-giordano/pen/OEmrKL
      -->
      <div class="preview-blurb-box" id="diverror" style="display: none;">
        <ol>
          <li id="msgerror"><strong>TO CREATE A WEBSITE WITH WORDPRESS (OR JOOMLA & DRUPAL), USE ONE CLICK INSTALLATION:</strong></li>
        </ol>
      </div>

      <div class="searchResults">
        <p id="tx_qtdaprox"></p>
        <ul id="jobs">

          <!-- RESULTADOS
        EXEMPLO

        <div class="searchResultsItem">
        <li><a href="#">With zero coding experience, artist building 180 webpages in 180 days</a></li>
        <p class="resultAddr">arstechnica.com/.../with-zero-coding-experience-artist-building-180-web...</p>
        <p><span>Jul 26, 2013 - </span>One of Jennifer Dewalt's creations, this webpage lets visitors create paintings in ... Build a different website every day for 180 consecutive days.</p>
        </div>
  
           -->
          
          
        </ul>
        
        <div class="relatedSearches" id="relatedSearches">
        <h4>Pesquisas relacionadas</h4>
          <ul class="relatedSearchesList" id="relatedSearchesList">
          </ul>
          <hr>
        </div>
      </div>
      
    <div class="pageNumbers">
      <ul id="paginas">
      </ul>
    </div>
    
      <div class="footer">
        <div class="location">
          <ul>
            <li><span id="tx_cidade">YourCity</span>, <span id="tx_estado">YourState</span></li>
            <!-- <li><a href="#">Use precise location</a> - </li>
            <li><a href="#">Learn more</a></li> -->
          </ul>
        </div>
        <!-- <div class="footerNav">
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div> -->
      </div>
      
    </div>
  </body>
  
  <script>
    
  
  </script>
  <script>
    
  </script>
  
</html>